BANGUMI_DATA_TOKEN=replace-with-at-least-32-random-characters
POSTGRES_PASSWORD=replace-with-a-strong-database-password
BANGUMI_DATA_SYNC_ENABLED=true
BANGUMI_DATA_SYNC_INTERVAL_HOURS=6
BANGUMI_DATA_REQUEST_DELAY_MS=250
